name: Docker Build and Push

on:
  push:
    branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v3
    
    - name: Login in to Docker Hub
      run:  docker login -u "${{secrets.DOCKER_USERNAME}}" -p "${{secrets.DOCKER_PASSWORD}}"
    
    - name: Build Docker Image
      run: docker build -t my-app:latest .

    - name: Tag and Push
      run: | 
        docker tag my-app:latest  "${{secrets.DOCKER_USERNAME}}"/my-app:latest
        docker push "${{secrets.DOCKER_USERNAME}}"/my-app:latest
  deploy:
    needs: build
    runs-on: self-hosted
    steps:
    - name: Docker pull image
      run: docker image pull "${{secrets.DOCKER_USERNAME}}"/my-app:latest
    - name: Docker run image
      run: docker run "${{secrets.DOCKER_USERNAME}}"/my-app:latest